.comment-seccion *{
	padding-top: 10px;

}
.comment-seccion {
	overflow-y: scroll;
	height: 80%;
	padding-right: 20px;
}


#button_comentario{
	float: right;

}

#field_comentario{
	width: 60%;

}
#newCommentForm{
	padding-top: 10px;

	bottom: 10px;

}

#button_delete{
	height: 14px;
	width: 12px;
	background-size: 12px 14px;
	border-style: none;
	background-color: transparent;
	float: right;
	top:0px;
	margin-left: 5px;
}

#button_edit{
	height: 14px;
	width: 12px;
	background-size: 12px 14px;
	border-style: none;
	background-color: transparent;
	float: right;
	top:0px;
	margin-left: 5px;
}

#button_like{
	height: 14px;
	width: 12px;
	background-size: 12px 14px;
	border-style: none;
	background-color: transparent;
	float: right;
	top:0px;
	margin-left: 5px;
}

#button_liked{
	height: 14px;
	width: 12px;
	background-size: 12px 14px;
	border-style: none;
	background-color: transparent;
	float: right;
	top:0px;
	margin-left: 5px;
}

#button_flag{
	height: 14px;
	width: 12px;
	background-size: 12px 14px;
	border-style: none;
	background-color: transparent;
	float: right;
	top:0px;
	margin-left: 5px;
}

#button_flaged{
	height: 14px;
	width: 12px;
	background-size: 12px 14px;
	border-style: none;
	background-color: transparent;
	float: right;
	top:0px;
	margin-left: 5px;
}

.like_area{
	float: right;
	padding-top: 1px;
}
