.comment-seccion *{
	padding-top: 10px;

}
.comment-seccion {
	overflow-y: scroll;
	height: 80%;
	padding-right: 20px;
	padding-left: 20px;
}

#button_cancel{
	float: right;
	margin-top: -18px; 
	margin-left: 5px;

}

#button_comentario{
	float: right;
	margin-top: -18px; 
}

#field_comentario{
	width: 60%;
	padding-left: 10px;
}
#newCommentForm{
	padding-top: 10px;
	height: 19%;
	background-color: #EBEBEB;
	padding-right: 20px;
	padding-left: 20px;

}

#button_delete{
	height: 14px;
	width: 12px;
	background-size: 12px 14px;
	border-style: none;
	background-color: transparent;
	float: right;
	top:0px;
	margin-left: 5px;
}

#button_edit{
	height: 14px;
	width: 12px;
	background-size: 12px 14px;
	border-style: none;
	background-color: transparent;
	float: right;
	top:0px;
	margin-left: 5px;
}

#button_like{
	height: 14px;
	width: 12px;
	background-size: 12px 14px;
	border-style: none;
	background-color: transparent;
	float: right;
	top:0px;
	margin-left: 5px;
}

#button_liked{
	height: 14px;
	width: 12px;
	background-size: 12px 14px;
	border-style: none;
	background-color: transparent;
	float: right;
	top:0px;
	margin-left: 5px;
}

#button_flag{
	height: 14px;
	width: 12px;
	background-size: 12px 14px;
	border-style: none;
	background-color: transparent;
	float: right;
	top:0px;
	margin-left: 5px;
}

#button_flaged{
	height: 14px;
	width: 12px;
	background-size: 12px 14px;
	border-style: none;
	background-color: transparent;
	float: right;
	top:0px;
	margin-left: 5px;
}

.like_area{
	float: right;
	padding-top: 1px;
}

.boton_salas{
	margin-top: -17px;
	float: right;
	margin-right: 15px;
}

#ui-id-1{
	padding-left: 0px;
	padding-right: 0px;
	overflow: hidden;
}



